:root {
  --background: white;
  --primary-color: #aecbeb;
  --hover-color: #dee2e6;
  --hover-color-dark: darkgrey;
  --link-color: #0b70bd;
  --link-hover-color: #f48f42;
  --font-family: "Montserrat", sans-serif;
  --font-size: 18px;
}

/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  font-weight: 400;
}

/* Body */
.container {
  width: 80vw;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--background);
}

/* Headings */
.headingTitle1 {
  border-bottom: 2px solid var(--primary-color);
  height: 21px;
  margin: 39px -30px 32px;
  text-align: center;
}

h1 {
  display: inline;
  padding: 0 20px;
  background-color: var(--background);
}

.headingTitle2 {
  width: 100%;
  border-bottom: 1px solid var(--primary-color);
  height: 17px;
  margin: 39px -20px 20px;
  text-align: left;
}

h2 {
  display: inline;
  padding: 0 10px 0 19px;
  background-color: var(--background);
}

h3 {
  padding-top: 20px;
}

/* Paragraphs and Lists */
p,
li,
td {
  font-size: var(--font-size);
}

li {
  margin-left: 50px;
}

ol,
ul {
  margin-top: 17px;
}

/* Tables */
table {
  border-collapse: collapse;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin: 10px auto 20px;
}

th {
  background-color: var(--primary-color);
  border: 1px solid black;
  padding: 10px;
  text-align: left;
  font-size: var(--font-size);
}

td {
  padding: 8px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s;
}

tr {
  transition: background-color 0.5s;
}

tr:hover {
  background-color: var(--hover-color);
}

td:hover {
  background-color: var(--hover-color-dark);
}

/* Links */
a {
  text-decoration: none;
  color: var(--link-color);
  transition: color 0.3s;
}
